.button {
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    /*width: 132px;*/
    height: 30px;
    background: #06C;
    border: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.disabled {
    opacity: 0.5;
    background: #004D99;
    color: #002E5C;
    border-color: #002E5C;
}

.secondary {
    border: 1px solid #06C;
    background-color: #fff;
    color: #06C;
}

.default {
    background: #06C;
    border: 1px solid #06C;
}

.red {
    background: #CC1439;
    border-color: #CC1439;
}

.default:hover {
    background: #0080FF;
}

.red:hover {
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    background: #0059B2;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #B21232;
}

.button:disabled {
    opacity: 0.5;
    background: #004D99;
    color: #002E5C;
    border-color: #002E5C;
}
